{% extends "base.html" %}

{% block head_css %}
{{ super() }}
<link href="{{url_for('static', filename='assets/css/panel.css')}}" type="text/css" rel="stylesheet">
{% endblock head_css %}

{% block header %}
{{ super() }}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ session['user_name']}} </a></li>
      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
    </ul>
</div>
<!--/.navbar-collapse -->
{% endblock header %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block panel_sidebar %}
            {% block panel_sidebar_control %}
            {% endblock panel_sidebar_control %}

            {% block panel_sidebar_user %}
            {% import 'macros.html' as M %}
            <ul class="nav nav-stacked nav-bottom">
                {{ M.sidebar_li('Settings', bs_icon='cog') }}
                {{ M.sidebar_li('Profile', bs_icon='user') }}
                {{ M.sidebar_li('Logout', url_for('logout'), bs_icon='log-out') }}
            </ul>
            {% endblock panel_sidebar_user %}
            {% endblock panel_sidebar %}
        </div>
        <div class="col-sm-9 col-md-10 main">
            {% block panel_content %}
            {% endblock panel_content %}
        </div>
    </div>
</div>
{% endblock content %}
