<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    {% block head_meta %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock head_meta %}

    {% block head_title %}
    {% if title %}
    <title>{{title}} - DSD</title>
    {% else %}
    <title>DSD - Data Science Docker</title>
    {% endif %}
    {% endblock head_title %}

    <!-- scripts -->
    {% block head_css %}
    <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/vendor/bootstrap/hack/ie10-viewport-bug-workaround.css')}}" type="text/css" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/css/dsd.css')}}" type="text/css" rel="stylesheet">
    {% endblock head_css %}

    <!-- stylesheets -->
    {% block head_scripts %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{url_for('static', filename='assets/vendor/html5shiv/html5shiv.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='assets/vendor/respond/respond.min.js')}}" type="text/javascript"></script>
    <![endif]-->
    {% endblock head_scripts %}
</head>

<body>
    <!-- header -->
    <div id="header">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!--<div class="navbar navbar-default navbar-fixed-top" role="navigation">!-->
            <div class="container-fluid">
                <!-- block header -->
                {% block header %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                      <span>DSD - Data Science Docker</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    {% block header_controls %}
                    {% endblock header_controls %}
                </div>
                {% endblock header %}
                <!-- endblock header -->
            </div>
        </div>
    </div>

    <!-- content -->
    <div id="content">
        <!-- block content -->
        {% block content %}
        {% block content_flash %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container-fluid">
            <ul id="flashes" class="flashes list-group collapse in">
                {% for category, message in messages %}
                {% if category == 'message' %}
                <li class="list-group-item list-group-item-success">
                {% else %}
                <li class="list-group-item list-group-item-{{ category }}">
                {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
                <li id="flashes-control" class="list-group-item">
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="ul#flashes"><span class="glyphicon glyphicon-check"></span>Dismissed</button>
                </li>
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        {% endblock content_flash %}
        {% endblock content %}
        <!-- endblock content -->
    </div>

    <!-- footer -->
    <div id="footer">
        <div class="container">
            <!-- block footer -->
            {% block footer %}
            <hr />
            <p>&copy; Copyright 2016, <a href="http://www.machineilab.org">Machine Intelligence Lab</a>.</p>
            {% endblock footer %}
            <!-- endblock footer -->
        </div>
    </div>

    <!-- scripts -->
    {% block scripts %}
    <script src="{{url_for('static', filename='assets/vendor/jquery/jquery-2.2.4.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='assets/vendor/bootstrap/hack/ie10-viewport-bug-workaround.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='assets/js/dsd.js')}}" type="text/javascript"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <script type="text/javascript">
        $(function(){
            $("#flashes").fadeTo(2000, 500).slideUp(500, function(){
               $("#flashes").collapse();
            });
        });
    </script>
    {% endif %}
    {% endwith %}
    {% endblock scripts %}
</body>
</html>
