{% extends "layout.html" %}
{% block body %}
<h3>Images</h3>
<ul>
    {% for i in images %}
    <li>
        <p><span>repository</span> <span>{{ i['repository'] }}</span></p>
        <p><span>tag</span> <span>{{ i['tag'] }}</span></p>
        <p><span>id</span> <span>{{ i['id'] }}</span></p>
        <p><span>created</span> <span>{{ i['created'] }}</span></p>
    </li>
    {% endfor %}
</ul>

<h3>Containers</h3>
<ul>
    {% for c in containers %}
    <li>
        <p><span>name</span> <span>{{ c['name'] }}</span></p>
        <p><span>image</span> <span>{{ c['image'] }}</span></p>
        <p><span>status</span> <span>{{ c['status'] }}</span></p>
        <p><span>state</span> <span>{{ c['state'] }}</span></p>
        <p><span>port</span> <span>{{ c['port'] }}</span></p>
        <p><span>container_id</span> <span>{{ c['container_id'] }}</span></p>
        <p><span>created</span> <span>{{ c['created'] }}</span></p>
    </li>
    {% endfor %}
</ul>

<h3>Create container</h3>
<form action="{{ url_for('container.run') }}" method="POST">
    <div>
        <label for='name'>Name</label> <input type=text name="name" />
    </div>
    <div>
        <label for='image'>Image</label> <input type=text name="image" />
    </div>
    <div>
        <button type=submit>Create</button>
    </div>
</form>
{% endblock %}
