{% extends "manage_base.html" %}

{% block panel_content %}
{{ super() }}
<!-- manage system -->
<div>
    <h1 class="page-header">System Configuration</h1>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Host</h2>
        </div>
        <div class="panel-body">
            {% if host_error %}
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ host_error }}
            </div>
            {% endif %}
            <form class="form-horizontal" action="{{ url_for('manage.system.host') }}" method="post">
                <div class="form-group{% if not docker %} has-error has-feedback{% endif %}">
                    <label for="docker_url" class="col-sm-3 control-label">Docker base url</label>
                    <div class="col-sm-6 col-md-7">
                        <input type="text" name="docker_url" class="form-control" placeholder="Docker base url" value="{{ config['docker_url'] }}" required>
                        {% if not docker %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span class="sr-only">(error)</span>
                        <span class="help-block">Cannot connect to docker host via this base URL.</span>
                        {% endif %}
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="use_tls" data-toggle="collapse" data-target="#d_path_pem"{% if config['docker_tls']['use_tls'] %} checked{% endif %}> Use TLS
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 collapse{% if config['docker_tls']['use_tls'] %} in{% endif %}" id="d_path_pem">
                        <div class="well">
                            <label for="path_client_cert" class="control-label">Client certificate</label>
                            <input type="text" name="path_client_cert" class="form-control" placeholder="Path to client certificate"{{ {'value':config['docker_tls']['path_client_cert']}|xmlattr }}>
                            <label for="path_client_key" class="control-label">Client certificate key</label>
                            <input type="text" name="path_client_key" class="form-control" placeholder="Path to client certificate key"{{ {'value':config['docker_tls']['path_client_key']}|xmlattr }}>
                            <label for="path_ca" class="control-label">CA to authenticate server (optional)</label>
                            <input type="text" name="path_ca" class="form-control" placeholder="CA to authenticate server (optional)"{{ {'value':config['docker_tls']['path_ca']}|xmlattr }}>
                        </div>
                    </div>
                </div>
                <div class="form-group{% if not nvd %} has-error has-feedback{% endif %}">
                    <label for="nvd_url" class="col-sm-3 control-label">NVIDIA Docker API base url</label>
                    <div class="col-sm-9">
                        <input type="text" name="nvd_url" class="form-control" placeholder="NVIDIA Docker API base url" value="{{ config['nvd_url'] }}" required>
                        {% if not nvd %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span class="sr-only">(error)</span>
                        <span class="help-block">Cannot connect to NVIDIA-docker host via this base URL.</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="btn-group col-sm-9" role="group">
                        <button class="btn btn-primary" type="submit">Update Host Information</button>
                        <button class="btn btn-default" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Default Configuration</h2>
        </div>
        <div class="panel-body">
            {% if error and 'default' in error %}
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ error['default'] }}
            </div>
            {% endif %}
            <form class="form-horizontal" action="{{ url_for('manage.system.default') }}" method="post">
                <div class="form-group">
                    <label for="default_user_max_container" class="col-sm-3 control-label">Default Max Container</label>
                    <div class="col-sm-9">
                        <input type="text" name="default_user_max_container" class="form-control" value="{{ config['default']['user']['max_container'] }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="default_user_max_live_container" class="col-sm-3 control-label">Default Max Live Container</label>
                    <div class="col-sm-9">
                        <input type="text" name="default_user_max_live_container" class="form-control" value="{{ config['default']['user']['max_live_container'] }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="default_user_max_gpu" class="col-sm-3 control-label">Default Max GPU</label>
                    <div class="col-sm-9">
                        <input type="text" name="default_user_max_gpu" class="form-control" value="{{ config['default']['user']['max_gpu'] }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="default_user_max_disk" class="col-sm-3 control-label">Default Max Disk</label>
                    <div class="col-sm-9">
                        <input type="text" name="default_user_max_disk" class="form-control" value="{{ config['default']['user']['max_disk'] }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="btn-group col-sm-9" role="group">
                        <button class="btn btn-primary" type="submit">Update Default Configuration</button>
                        <button class="btn btn-default" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Resource Configuration</h2>
        </div>
        <div class="panel-body">
            {% if error and 'resource' in error %}
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ error['resource'] }}
            </div>
            {% endif %}
            <form class="form-horizontal" action="{{ url_for('manage.system.resource') }}" method="post">
                <div class="form-group">
                    <label for="resource_max_gpu_assignment" class="col-sm-3 control-label">Max GPU Assignment</label>
                    <div class="col-sm-9">
                        <input type="text" name="resource_max_gpu_assignment" class="form-control" value="{{ config['resource']['max_gpu_assignment'] }}" required>
                        <p class="help-block">Maximum number of users that can be assigned to a single GPU. Set to 0 for unlimited.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resource_volume_workspaces" class="col-sm-3 control-label">Workspaces Base</label>
                    <div class="col-sm-9">
                        <input type="text" name="resource_volume_workspaces" class="form-control" value="{{ config['resource']['volume']['workspaces'] }}" required>
                        <p class="help-block">The path on the host to store users workspaces.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resource_volume_data" class="col-sm-3 control-label">Data Base</label>
                    <div class="col-sm-9">
                        <input type="text" name="resource_volume_data" class="form-control" value="{{ config['resource']['volume']['data'] }}" required>
                        <p class="help-block">The path on the host to store public data.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="btn-group col-sm-9" role="group">
                        <button class="btn btn-primary" type="submit">Update Resource Configuration</button>
                        <button class="btn btn-default" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h2 class="panel-title">Security</h2>
        </div>
        <div class="panel-body">
            <p>NOTE: Cannot change these security information. Login information of all users will be failed.</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Encryption Salt</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">{{ config['encrypt_salt'] }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Encryption Algorithm</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">{{ config['encrypt_algorithm'] }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Encryption Method</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">{{ config['encrypt_method']['method'] }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Encryption Iteration</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">{{ config['encrypt_iter'] }}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end manage system -->
{% endblock panel_content %}
