{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('logout') }}">logout</a>
<form action="{{ url_for('manage_user_add') }}" method="POST">
    <dl>
      <dt>Username:
      <dd><input type="text" name="Username">
      <dt>Password:
      <dd><input type="password" name="Password">
      <dt>Max_Container_Count:
      <dd><input type="text" name="Max_Container_Count">
      <dt>Max_Disk_Space:
      <dd><input type="text" name="Max_Disk_Space">
      <dt>User_Type:
      <dd><input type="text" name="User_Type">
      <dd><input type="submit" value="Add">
    </dl>
</form>
{% endblock %}