{% extends "base-panel.html" %}
{% import 'macros.html' as M %}

{% block header_controls %}
{{ super() }}
<!-- admin header controls !-->
<ul class="nav navbar-nav navbar-right">
    {{ M.sidebar_li('System Settings') }}
</ul>
<!-- end admin header controls !-->
{% endblock header_controls %}

{% block panel_sidebar_control %}
{{ super() }}
<!-- admin sidebar controls !-->
<ul class="nav nav-stacked">
    {{ M.sidebar_li('Dashboard', url_for('manage.index')) }}
    {{ M.sidebar_li('GPUs', url_for('manage.gpu')) }}
    {{ M.sidebar_li('Images', url_for('manage.image')) }}
    {{ M.sidebar_li('Containers', url_for('manage.container')) }}
    {{ M.sidebar_li('dockerfiles') }}
</ul>
<ul class="nav nav-stacked">
    {{ M.sidebar_li('Users', url_for('manage.user')) }}
</ul>
<ul class="nav nav-stacked">
    {{ M.sidebar_li('System Settings') }}
</ul>
<!-- end admin sidebar controls !-->
{% endblock panel_sidebar_control %}
