{% extends "manage_base.html" %}

{% block panel_content %}
{{ super() }}
<!-- manage containers -->
<div>
    <h1 class="page-header">Containers</h1>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Containers Information</h2>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"> Total <span class="badge"> {{ total }} </span></li>
                <li class="list-group-item">
                    Managed <span class="badge"> {{ managed_alive }} / {{ managed_lst|length }} </span>
                    <span class="btn btn-default">GPU <span class="badge"> {{ managed_alive_gpu }} / {{ managed_gpu }} </span></span>
                    <span class="btn btn-default">Disk <span class="badge"> {{ managed_disk|default('N/A') }} </span></span>
                </li>
                <li class="list-group-item">
                    Unmanaged <span class="badge"> {{ unmanaged_alive }} / {{ unmanaged_lst|length }} </span>
                    <span class="btn btn-default">GPUs <span class="badge"> {{ unmanaged_gpu|default('N/A') }} </span></span>
                    <span class="btn btn-default">Disk <span class="badge"> {{ unmanaged_disk|default('N/A') }} </span></span>
                </li>
                <li class="list-group-item"> DSD Runtime <span class="badge"> {{ dsd_container['container_name']|default('Not found') }} </span></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Managed Containers <span class="badge"> {{ managed_alive }} / {{ managed_lst|length }} </span></h2>
        </div>
        <div class="panel-body">
            {% if managed_lst %}
            <div id="containers" class="panel-group">
                <div class="panel th">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-1">#</div>
                            <div class="col-sm-2">Name</div>
                            <div class="col-sm-2">User</div>
                            <div class="col-sm-3">Image</div>
                            <div class="col-sm-4">Status</div>
                        </div>
                    </div>
                </div>
                {% for container in managed_lst %}
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-1">{{ loop.index }}</div>
                            <div class="col-sm-2">{{ container['name'] }}</div>
                            <div class="col-sm-2">{{ container['user']['username'] }}</div>
                            <div class="col-sm-3">{{ container['auth_image']['name'] }}</div>
                            <div class="col-sm-4">{{ container['status_str'] }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-sm-offset-1">
                                <div class="well">
                                    <div class="btn-group" role="group">
                                        {% if 'ps_id' not in container or not container['ps_id'] or not container['ps']['running']%}
                                        <a href="{{ url_for('manage.user.container.start', user_oid=container['user']['_id'], oid=container['_id'], next='manage.container') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-play"></span> Run </a>
                                        {% else %}
                                        <a href="{{ url_for('manage.user.container.stop', user_oid=container['user']['_id'], oid=container['_id'], next='manage.container') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-stop"></span> Stop </a>
                                        <a href="{{ url_for('manage.user.container.restart', user_oid=container['user']['_id'], oid=container['_id'], next='manage.container') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-repeat"></span> Restart </a>
                                        {% endif %}
                                        <a href="{{ url_for('manage.user.container.reinstall', user_oid=container['user']['_id'], oid=container['_id'], next='manage.container') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-cd"></span> Reinstall </a>
                                        <a href="{{ url_for('manage.user.container.remove', user_oid=container['user']['_id'], oid=container['_id'], next='manage.container') }}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span> Remove </a>
                                    </div>
                                    {% if 'ps' in container %}
                                    {% for port in container['ps']['ports'] %}
                                    <a class="btn btn-sm btn-{% if port.h %}primary{% else %}default disabled{% endif %}" href="{% if port.p == '0.0.0.0' %}{{ default_host }}{% else %}//{{ port.p }}{% endif %}:{{ port.h }}" role="button" target="_blank"><span class="glyphicon glyphicon-eye-{% if port.h %}open{% else %}close{% endif %}"></span> {{ port.c }} </a>
                                    {% endfor%}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No managed container exist.</p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title">Unmanaged Containers <span class="badge"> {{ unmanaged_alive }} / {{ unmanaged_lst|length }} </span></h2>
        </div>
        <div class="panel-body">
            <p class="help-block">Be careful when operating unmanaged contaners!</p>
            {% if unmanaged_lst %}
            <div id="containers" class="panel-group">
                <div class="panel th">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-1">#</div>
                            <div class="col-sm-3">Name</div>
                            <div class="col-sm-3">Image</div>
                            <div class="col-sm-5">Status</div>
                        </div>
                    </div>
                </div>
                {% for container in unmanaged_lst %}
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-1">{{ loop.index }}</div>
                            <div class="col-sm-3">{{ container['container_name'] }}</div>
                            <div class="col-sm-3">{{ container['image_name'] }}</div>
                            <div class="col-sm-5">{{ container['status_str'] }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-sm-offset-1">
                                <div class="well">
                                    <div class="btn-group" role="group">
                                        {% if not container['status_str'].startswith('Up') %}
                                        <a href="{{ url_for('manage.container.start', id=container['container_id']) }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-play"></span> Run </a>
                                        {% else %}
                                        <a href="{{ url_for('manage.container.stop', id=container['container_id']) }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-stop"></span> Stop </a>
                                        <a href="{{ url_for('manage.container.restart', id=container['container_id']) }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-repeat"></span> Restart </a>
                                        {% endif %}
                                        <a href="{{ url_for('manage.container.remove', id=container['container_id']) }}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span> Remove </a>
                                    </div>
                                    {% if 'ports' in container and container['ports'] %}
                                    {% for port in container['ports'] %}
                                    <a class="btn btn-sm btn-{% if port.h %}primary{% else %}default disabled{% endif %}" href="{% if port.p == '0.0.0.0' %}{{ default_host }}{% else %}//{{ port.p }}{% endif %}:{{ port.h }}" role="button" target="_blank"><span class="glyphicon glyphicon-eye-{% if port.h %}open{% else %}close{% endif %}"></span> {{ port.c }} </a>
                                    {% endfor%}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No unmanaged container exist.</p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h2 class="panel-title">DSD Runtime Containers</h2>
        </div>
        <div class="panel-body">
            <p class="help-block">Be very careful when trying to operate DSD runtime contaners!</p>
            {% if dsd_container %}
            <div id="containers" class="panel-group">
                <div class="panel th">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">Name</div>
                            <div class="col-sm-3">Image</div>
                            <div class="col-sm-6">Status</div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">{{ dsd_container['container_name'] }}</div>
                            <div class="col-sm-3">{{ dsd_container['image_name'] }}</div>
                            <div class="col-sm-6">{{ dsd_container['status_str'] }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="well">
                                    <div class="btn-group" role="group">
                                        {% if not dsd_container['status_str'].startswith('Up') %}
                                        <button type="button" data-toggle="modal" data-target="#no-way-dialog" class="btn btn-default" role="button"><span class="glyphicon glyphicon-play"></span> Run (What?! I am not running? It must be a mistake.) </button>
                                        {% else %}
                                        <button type="button" data-toggle="modal" data-target="#no-way-dialog" class="btn btn-default" role="button"><span class="glyphicon glyphicon-stop"></span> Stop </button>
                                        <button type="button" data-toggle="modal" data-target="#no-way-dialog" class="btn btn-default" role="button"><span class="glyphicon glyphicon-repeat"></span> Restart </button>
                                        {% endif %}
                                        <button type="button" data-toggle="modal" data-target="#no-way-dialog" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span> Remove </button>
                                    </div>
                                    <div class="modal fade" id="no-way-dialog" tabindex="-1" role="dialog" aria-labelledby="no-way-dialog-label">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="no-way-dialog-label">Remove a container</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>You must be kidding! You are not gonna do that!</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if 'ports' in dsd_container and dsd_container['ports'] %}
                                    {% for port in dsd_container['ports'] %}
                                    <a class="btn btn-sm btn-{% if port.h %}primary{% else %}default disabled{% endif %}" href="{% if port.p == '0.0.0.0' %}{{ default_host }}{% else %}//{{ port.p }}{% endif %}:{{ port.h }}" role="button" target="_blank"><span class="glyphicon glyphicon-eye-{% if port.h %}open{% else %}close{% endif %}"></span> {{ port.c }} </a>
                                    {% endfor%}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>Cannot detect DSD runtime container.</p>
            {% endif %}
        </div>
    </div>
</div>
<!-- end manage containers -->
{% endblock panel_content %}

{% block head_css %}
{{ super() }}
<style>
.panel.th .panel-heading {
    font-weight: bold;
}
</style>
{% endblock head_css %}
