{% extends "user_base.html" %}

{% block panel_content %}
{{ super() }}
<!-- user dashboard -->
<div>
    <h1 class="page-header">Dashboard</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Notice</h2>
                </div>
                <div class="panel-body sr-only">
                    <p>Notice from the system.</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">System is under construction.</li>
                </ul>
                <div class="panel-footer"><a href="#">Details &raquo;</a></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Contaners</h2>
                </div>
                <div class="panel-body">
                    <p>Usage of your contaners.</p>
                    <ul class="list-inline">
                        <li>Total: {{ count_container }} / {{ max_container }}</li>
                        <li>Running: {{ count_live_container }} / {{ max_live_container }} </li>
                    </ul>
                </div>
                {% if container_lst %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Ports</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for container in container_lst %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ container['name'] }}</td>
                                <td>{{ container['status_str'] }}</td>
                                <td>
                                    {% if 'ps' in container %}
                                    {% for port in container['ps']['ports'] %}
                                    <a class="btn btn-primary btn-xs" href="{% if port.p == '0.0.0.0' %}{{ default_host }}{% else %}//{{ port.p }}{% endif %}:{{ port.h }}" role="button" target="_blank"> {{ port.c }} </a>
                                    {% endfor%}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                <div class="panel-footer"><a href="{{ url_for('user.container') }}">Details &raquo;</a></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">GPUs</h2>
                </div>
                {% if gpu_lst %}
                <div class="panel-body">
                    <p>Usage of your GPUs.</p>
                    {% if gpu_global %}
                    <ul class="list-inline">
                        <li>Driver Version: {{ gpu_global['DriverVersion'] }}</li>
                        <li>CUDA Version: {{ gpu_global['CudaVersion'] }}</li>
                    </ul>
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Model</th>
                                <th>Memory</th>
                                <th>Utilization</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gpu in gpu_lst %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ gpu['Model'] }}</td>
                                <td>{{ gpu['MemoryUsed'] }} / {{ gpu['MemoryTotal'] }} MB</td>
                                <td>{{ gpu['UtilizationGpu'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="panel-body">
                    <p>No GPU detected.</p>
                </div>
                {% endif %}
                <div class="panel-footer"><a href="{{ url_for('user.container') }}">Details &raquo;</a></div>
            </div>
        </div>
    </div>
</div>
<!-- end user dashboard -->
{% endblock panel_content %}
