{% extends "user_base.html" %}
{% block user_content %}
<div class="row">
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>GPU</h4>
            <span class="text-muted">summary</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>CPU</h4>
            <span class="text-muted">summary</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>MEMORY</h4>
            <span class="text-muted">summary</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>SPACES</h4>
            <span class="text-muted">summary</span>
        </div>
    </div>

    <h2 class="sub-header">GPU List</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>type</th>
                    <th>Memory-Usage</th>
                    <th>Volatile</th>
                    <th>IP</th>
                    <th>State</th>
                    <th>username</th>
                    <th>Container_id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>K20</td>
                    <td>300/2000</td>
                    <td>80%</td>
                    <td>192.168.7.170</td>
                    <td>common</td>
                    <td>username</td>
                    <td>con_1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>K20</td>
                    <td>300/2000</td>
                    <td>80%</td>
                    <td>192.168.7.170</td>
                    <td>error</td>
                    <td>username</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>K20</td>
                    <td>300/2000</td>
                    <td>80%</td>
                    <td>192.168.7.170</td>
                    <td>non-use</td>
                    <td>username</td>
                    <td>null</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}