{% extends "user_base.html" %}
{% block user_content %}
<div class='row' >
    <form class="form" action="{{ url_for('user_container_add') }}" method="POST">
        <div class="form-group">
            <label for="name" class="control-label">name:</label>
            <input type="text" id="name" name="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="image" class="control-label">image:</label>
            <select id="image" name="image" placeholder="image">
                <option>image</option>
                {% for image in image_lst%}
                <option>{{image['RepoTags']}}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

{% endblock %}