{% extends "user_base.html" %}
{% block user_content %}
<div class='row'>
    <div class='row'>
        <h4>container List</h4>
    </div>
    <div class='row'>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>operation</th>
                    {% for container_key in container_lst[0].keys() %}
                        <th>{{container_key}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for container in container_lst %}
                    <tr>
                        <td>{{ loop.index0 + 1 }}</td>
                        <td>
                            <a href="{{ url_for('user.container.del') }}">del</a>
                            <a href="{{ url_for('logout') }}">restart</a>
                            <a href="{{ url_for('logout') }}">stop</a>
                            <a href="{{ url_for('logout') }}">start</a>
                        </td>
                        {% for container_key in container.keys() %}
                            <td>{{container[container_key]}}</td>
                        {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}