{% extends "user_base.html" %}

{% block panel_content %}
<!-- user-container-add -->
<div>
    <h1 class="page-header">Add Container</h1>
    <form class="form-horizontal" action="{{ url_for('user.container.add') }}" method="post">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input class="form-control" id="name" name="name" placeholder="Container's Name"></input>
            </div>
        </div>
        <div class="form-group">
            <label for="image" class="col-sm-2 control-label">Image</label>
            <div class="col-sm-10">
                <select class="form-control" id="image" name="image">
                    <option disabled>Choose an Image</option>
                    {% for image in image_lst%}
                    <option>{{image['RepoTags']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>
<!-- end user-container-add -->
{% endblock panel_content %}
