{% extends "user_base.html" %}

{% block panel_content %}
<!-- user-container -->
<div>
    <h1 class="page-header">Containers</h1>
    {% if container_lst %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>operation</th>
                    {% for container_key in container_lst[0].keys() %}
                    <th>{{container_key}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for container in container_lst %}
                <tr>
                    <td>{{ loop.index0 + 1 }}</td>
                    <td>
                        <a href="{{ url_for('user.container.remove') }}?id={{container['container_id']}}">del</a>
                        <a href="{{ url_for('user.container.restart') }}?id={{container['container_id']}}">restart</a>
                        <a href="{{ url_for('user.container.stop') }}?id={{container['container_id']}}">stop</a>
                        <a href="{{ url_for('user.container.start') }}?id={{container['container_id']}}">start</a>
                    </td>
                    {% for container_key in container.keys() %}
                    {% if container_key == 'port'%}
                    <td>
                        {% for port_ in container['port']%}
                        <a href="http://192.168.7.170:{{port_['PublicPort']}}" target='_blank'>{{port_['PrivatePort']}}</a>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td>{{container[container_key]}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No container exist. You can create one <a href="{{ url_for('user.container.add') }}">here</a>!</p>
    {% endif %}
</div>
<!-- end user-container -->
{% endblock panel_content %}
