{% extends "user_base.html" %}

{% block panel_content %}
{{ super() }}
<!-- user dashboard -->
<div>
    <h1 class="page-header">Dashboard</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <h2 class="panel-heading">Notice</h2>
                <div class="panel-body sr-only">
                    <p>Notice from the system.</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">System is under construction.</li>
                    <li class="list-group-item">Password is not safe.</li>
                </ul>
                <div class="panel-footer"><a href="#">Details &raquo;</a></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <h2 class="panel-heading">Contaners</h2>
                <div class="panel-body">
                    <p>Usage of your contaners.</p>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>type</th>
                            <th>Memory-Usage</th>
                            <th>Volatile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>K20</td>
                            <td>300/2000</td>
                            <td>80%</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer"><a href="{{ url_for('user.container') }}">Details &raquo;</a></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <h2 class="panel-heading">GPUs</h2>
                <div class="panel-body">
                    <p>Usage of your GPUs.</p>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>type</th>
                            <th>Memory-Usage</th>
                            <th>Volatile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>K20</td>
                            <td>300/2000</td>
                            <td>80%</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>K20</td>
                            <td>300/2000</td>
                            <td>80%</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer"><a href="{{ url_for('user.container') }}">Details &raquo;</a></div>
            </div>
        </div>
    </div>
</div>
<!-- end user dashboard -->
{% endblock panel_content %}
