{% extends "base-panel.html" %}
{% import 'macros.html' as M %}

{% block panel_sidebar_control %}
{{ super() }}
<!-- user sidebar controls !-->
<ul class="nav nav-stacked">
    {{ M.sidebar_li('Dashboard', url_for('user.index'), bs_icon='th-list') }}
</ul>
<ul class="nav nav-stacked">
    {{ M.sidebar_li('Container', url_for('user.container'), bs_icon='tasks') }}
    <li>
        <ul class="nav nav-stacked">
            {{ M.sidebar_li('Add', url_for('user.container.add'), bs_icon='plus') }}
        </ul>
    </li>
</ul>
<!-- end user sidebar controls !-->
{% endblock panel_sidebar_control %}
